@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mozilla+Headline:wght@200..700&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mozilla+Headline:wght@200..700&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
  overflow: hidden;
}


* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Ubuntu', sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 65px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  background-color: #000;
  color: #fff;
}

nav ul li {
  padding: 0 15px;
  cursor: pointer;
}


.brand img {
  width: 50px;
  padding: 0 8px;

}

.brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.container {
  min-height: calc(100vh - 185px);
  /* nav + bottom */
  background-image: url('./backgrd.jpg');
  background-size: cover;
  color: white;
}


.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


#myprogressbar {
  width: 80%;
  cursor: pointer;
}

.icons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* space between icons */
}

.icons i {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.icons i:hover {
  color: #1db954;
  /* Spotify green */
}

.songlist {
  margin-top: 40px;
}

.songItem {
  width: 60%;
  max-width: 600px;
  margin: 15px auto;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.songItem img {
  width: 45px;
  border-radius: 5px;
}

.songName {
  flex: 1;
  margin-left: 15px;
}

.songlistplay {
  display: flex;
  align-items: center;
  gap: 15px;
}

.songlistplay span {
  color: #ccc;
}

.songItem {
  cursor: pointer;
  color: white;
  transition: color 0.2s ease, transform 0.2s ease;
}

.songItem i:hover {
  color: #1db954;
  transform: scale(1.2);
}

.songinfo {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #ccc;

}

songItemPlay img {
  background-image: url('./playing.gif');
}


.songinfo img {

  transition: opacity 0.1s ease-in;
}